
.imdesc {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 35%;
    top: 10%;
}

.imdesc img {
    vertical-align: middle;
}

.imdesc select {
    text-align: center;
    background: #ff000c;
}

.imdesc select.cen {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}

.tcen {
    position: relative;
    bottom: 20px;
    left: 20px;
}

.tcen {
    display: none;
}

.municipality-elements:hover .tcen {
    display: inline;
}

::ng-deep .mat-spinner{
    margin-top: 20%;
    margin-left: 45%;    
}

::ng-deep .mat-progress-spinner circle, ::ng-deep .mat-spinner circle {
    stroke: #3fb53f;
}

#warn-button{
    position: absolute;
    color: red;
}