<div class="imdesc" *ngIf="!isLoading">
    <button class="special-button" id="pass-button" *ngIf="isSpecialButtonsAvailable()" mat-icon-button
            (click)="changeTurn()">
        <mat-icon>cancel</mat-icon>
    </button>
    <button class="special-button" id="surrender-button" *ngIf="isSpecialButtonsAvailable()" mat-icon-button 
            (click)="surrender()">
        <mat-icon>emoji_flags</mat-icon>
    </button>
    <img src="../assets/provinces/{{game.province}}.png" />

    <div *ngFor="let municipalitiesUser of municipalitiesByUser | keyvalue;">
        <div *ngFor="let municipality of municipalitiesUser.value">
            <div class="municipality-elements" [formGroup]="selectForm">
                <select id="actions" class="cen" formControlName="{{municipality.nombre}}"
                    [ngStyle]="calculatePositionAndColor(municipality)"
                    (change)="realizeAction($event, municipality); ">

                    <option selected value> -- Elije Acción -- </option>
                    <option *ngIf="!isSelectActionsDisabled(municipality) && 
                    isCurrentPlayerOption(municipality.owner) && !this.moveMode" value="prepareAttack">
                        Preparar
                        ataque
                    </option>
                    <option *ngIf="!isSelectActionsDisabled(municipality) && 
                    isCurrentPlayerOption(municipality.owner) && !this.moveMode
                    && hasGauchosToAttack(municipality)" value="prepareMove">
                        Mover
                        Gauchos
                    </option>
                    <option *ngIf="!isSelectActionsDisabled(municipality) && 
                    isCurrentPlayerOption(municipality.owner) && !this.moveMode" value="modify">Modificar
                        Especialización
                    </option>
                    <option *ngIf="!isSelectActionsDisabled(municipality) && 
                    isCurrentPlayerOption(municipality.owner) && this.moveMode" value="move">Asentar
                        Gauchos
                        Aqui!
                    </option>
                    <option *ngIf="!isSelectActionsDisabled(municipality) && 
                    !isCurrentPlayerOption(municipality.owner)" value="attack">Atacar!</option>
                    <option value="statistics">Mostrar Estadisticas</option>
                </select>
            </div>
        </div>
    </div>    
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>