<br>

<div class="row">
  <div class="col-md-12">
    <div class="card card text-white bg-dark">
      <div class="card-header ">
        <h5 class="card-title">Partidas</h5>
        <p class="card-category">Visualiza el estado de tus partidas</p>
        <button type="button" class="btn btn-success new-game">Crear partida</button>

        

      </div>

      <div class="card-body ">
        <table class="table table-striped table-dark" matSort (matSortChange)="sortData($event)">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Jugadores</th>
              <th scope="col">Provincia</th>
              <th mat-sort-header="date">Fecha</th>
              <th mat-sort-header="state">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of sortedData ; let i = index;">
              <th scope="row">{{i}}</th>
              <td><span *ngFor="let player of game.players; let isLast=last">
                  {{player.username}}{{isLast ? '' : ', '}}
                </span>
              </td>
              <td>{{game.province}}</td>
              <td>{{game.date}}</td>
              <td>{{game.state}}</td>
            </tr>
          </tbody>
        </table>

        <canvas id=chartHours width="400" height="180"></canvas>

      </div>

      <div class="card-footer ">
      </div>
    </div>
  </div>
</div>