<div class="row" *ngIf="currentUser; else loggedOut">
  <div class="col-md-12">
    <div  class="card card text-white bg-dark">
      <div class="card-header ">
        <h5 class="card-title"><strong>{{ currentUser.username }}</strong> Profile</h5>
      </div>
      <div class="card-body ">
        <p>
          <strong>Email:</strong>
          {{ currentUser.email }}
        </p>
        <strong>Roles:</strong>
        <ul>
          <li *ngFor="let role of currentUser.roles">
            {{ role }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
