<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
    
    <form [formGroup]="firstFormGroup">
        <div class="example-button-row">
          <button mat-button>Obtener el score board de </button>
          <mat-form-field class="example-form-field">
            <mat-label>Id del juego</mat-label>
            <input matInput type="text" formControlName="firstCtrl">
          </mat-form-field>
          <button mat-button color="primary" (click)="openShowScoreBoardDialog()">Obtener</button>
        </div>
    </form>
  </header>
</div>