<mat-horizontal-stepper class="bg-dark text-white" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="rivalsFormGroup">
        <form [formGroup]="rivalsFormGroup">
            <ng-template matStepLabel>Busca rivales</ng-template>
            <p style="display: inline;">¿A quien enfrentaras el dia de hoy?</p>
            <!--<mat-form-field>
                <mat-label>Nombre de usuario</mat-label>
                <input matInput formControlName="firstCtrl" required>
            </mat-form-field>-->
            <button class="add-button" mat-button (click)="addRival()" [disabled]="isAddRivalDisabled()">
                <span class="material-icons">
                    person_add
                </span>
            </button>
            <button class="delete-button" mat-button (click)="deleteRival()" [disabled]="isDeleteRivalDisabled()">
                <span class="material-icons">
                    person_remove
                </span>
            </button>

            <rival-component *ngFor="let rival of rivals;" 
            [possiblesRivals] = "users" [parentFormGroup] = "rivalsFormGroup" [rival] = "rival">

            </rival-component>

            <!--<mat-form-field class="example-full-width">                
                <input type="text" placeholder="Elige oponente" aria-label="Number" matInput formControlName="firstCtrl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
                        {{user.username}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>-->

            <mat-error *ngIf="notAllUsernameAreValid()">
                Todos los usuarios que ingrese deben ser validos y no se debe elegir mas de 1 vez al mismo rival
            </mat-error>

            <div>
                <button id="next-button" class="btn btn-info" [disabled]="notAllUsernameAreValid()" mat-button
                    matStepperNext>Next</button>
            </div>

        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Elige modo de juego">
        <form [formGroup]="secondFormGroup">
            <p>¿En donde tendra lugar vuestro combate?</p>
            <mat-form-field appearance="fill">
                <mat-label style="color: white">Provincia de combate</mat-label>
                <mat-select formControlName="secondCtrlFirstCondition" required [(value)]="provinceSelected">
                    <mat-option *ngFor="let province of provinces" [value]="province">
                        {{province.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <p>¿Cuantas municipalidades?</p>
            <br>
            <br>
            <mat-slider *ngIf="municipalitiesCantUnder100(provinceSelected.municipalitiesCant); 
                    else municipalitiesCantOver100" formControlName="secondCtrlSecondCondition" thumbLabel
                tickInterval="1000" min="2" max="{{provinceSelected.municipalitiesCant}}"></mat-slider>
            <ng-template #municipalitiesCantOver100>
                <mat-slider formControlName="secondCtrlSecondCondition" thumbLabel tickInterval="1000" min="2"
                    max="100"></mat-slider>
            </ng-template>
            <div>
                <button mat-button class="btn btn-secondary" matStepperPrevious>Back</button>
                <button mat-button class="btn btn-info" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>¡A Pelear!</ng-template>
        <p>¿Estas Listo?</p>
        <div>
            <button mat-button class="btn btn-secondary" matStepperPrevious>Back</button>
            <button mat-button class="btn btn-success" (click)="createGame()">Confirmar
                <span class="material-icons" style="margin-bottom: 4px;">
                    done
                </span>
            </button>
        </div>
    </mat-step>
</mat-horizontal-stepper>