<mat-horizontal-stepper class="bg-dark text-white" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Busca rivales</ng-template>
            <p style="display: inline;">¿A quien enfrentaras el dia de hoy?</p>
            <mat-form-field>
                <mat-label>Nombre de usuario</mat-label>
                <input matInput formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button class="btn btn-info" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Elige modo de juego">
        <form [formGroup]="secondFormGroup">
            <p>¿En donde tendra lugar vuestro combate?</p>
            <mat-form-field appearance="fill">
                <mat-label style="color: white">Provincia de combate</mat-label>
                <mat-select 
                            formControlName="secondCtrlFirstCondition" required 
                            [(value)]="municipalitiesAmount">
                    <mat-option *ngFor="let province of provinces" [value]="province.municipalitiesCant">
                        {{province.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <p>¿Cuantas municipalidades?</p>
            <br>
            <br>
                <mat-slider
                    formControlName="secondCtrlSecondCondition"
                    thumbLabel
                    tickInterval="1000"
                    min="1"
                    max="{{municipalitiesAmount}}"></mat-slider>      
                <!--<input type="number" 
                min="1" max = "{{municipalitiesAmount}}"
                matInput formControlName="secondCtrlSecondCondition" required>-->
            <div>
                <button mat-button class="btn btn-secondary" matStepperPrevious>Back</button>
                <button mat-button class="btn btn-info" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>¡A Pelear!</ng-template>
        <p>¿Estas Listo?</p>
        <div>
            <button mat-button class="btn btn-secondary" matStepperPrevious>Back</button>
            <button mat-button class="btn btn-success" (click)="stepper.reset()">Confirmar
                <span class="material-icons" style="margin-bottom: 4px;">
                    done
                </span>
            </button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
